 /**
 *存放系统的全局变量
 * Created by SCSS.
 * User: TD
 * Date: 2014/12/02
 * Time: 15:43
 */

//默认字色
$defaultColor:#333 #666 #999;

$mainColor:#e5e5e5;//主色
$subColor:#5b88c2;
$subColor-hover:#86acde;

// 底色
$bgColor:#f6f6f6;
$navColor:#eee;

//线条色
$borderColor:#d2d2d2;
$borderColor-thin:#dcdcdc;

// 字色
$fontColor:#8c8c8c;
$mainFontColor:#868686;
$fcred:#f16c6c;
$fcblue:#5b88c2;


//font
$px:12px 14px 16px 18px 20px;

